<header>
    <div class="nav-container">
        <a class="logo" data-header-link="index.html" href="#">PLANET<span>PEDIA</span></a>

        <input type="checkbox" id="nav-toggle" class="nav-toggle" hidden>
        <label for="nav-toggle" class="menu-toggle" aria-label="Abrir menú">≡</label>

        <nav>
            <a data-header-link="index.html" data-header-page="inicio" href="#">Inicio</a>
            <a data-header-link="Web/Planetas.html" data-header-page="planetas" href="#">Planetas</a>
            <a data-header-link="Web/Especies.html" data-header-page="especies" href="#">Especies</a>
            <a data-header-link="Web/LineaTemporal.html" data-header-page="linea-temporal" href="#">Línea Temporal</a>
            <a data-header-link="Web/Juegos.html" data-header-page="juegos" href="#">Juegos</a>
        </nav>
    </div>
</header>
